body{
	background-image: url("http://www.publicdomainpictures.net/pictures/70000/velka/red-velvet-curtains-background.jpg");
	font-family: 'Carrois Gothic', sans-serif;
	color: #fff;
}
#cefet{
	text-align:center;
	font-size:3em;
	font-family: 'Allerta Stencil', sans-serif;
}
.box{
	float: left;
	width: 390px;/*350 pra telas pequenas*/
	height: 600px;
	margin-left: 30px;
	padding:25px;
	color: #fff;
	text-align:center;
}

main{
	width: 100%;
	color: #000;
}
.genero{
	float:left;
}
.cefet{
	font-family: sans-serif;
	text-align: center;
	color:#FFFFF0;
}
.box:hover{
	width:400px;
	background-color: rgba(255, 255, 255, 0.2);
}
